<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trivia APP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>body{text-align:center}</style>
    </head>
    <body>
        <h1>TRIVIA PART I</h1>
        <img src={{ img }} alt="Avatar" style="width:200px">

        <h3>TRIVIA Question</h3>
        <p>{{current_trivia["question"]}}</p>

        {%for a in range(0,length)%}
            <p>{{answers[a]}}</p>
        {%endfor%}

        <form action = "/handle_resp" method = "POST">
            <p><input type = "text" name = "answer"></p>
            <p><input type = "submit" value = "submit"></p>
        </form>

    </body>
</html>